@model LogInOutNoteEdite.Models.UsersBase
@{
    //ViewBag.Title;
    Layout = "~/Views/Master/_LayoutMain.cshtml";
}
    <div class="MainBlock">
        @using (Html.BeginForm())
        {
            <span>Name</span>
            @Html.TextBoxFor(x=>x.CurName);
            <span>Password</span>
            @Html.PasswordFor(x=>x.CurPassword);

            <input type="submit" value="Login" />
        }
    </div>

