<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        
    </div>
    @RenderBody();  <!--с помощью этого метода в это место будет подставляться разметка уже конкретных представлений.-->
</body>
</html>
